.fade {
    animation: fadeIn var(--fade-duration, 1750ms) ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0.5;
    }
}

.flash {
    animation: flash 10s infinite;
}
